*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: auto;
    height: 50px;
}

.containerF {
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    
    
}

.containerF a{
    font-size: 13px;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    padding-right: 15px;

}

.containerF .perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.main{
    width: auto;
}

.containerM {
    display: flex;
    justify-content:center;    
    align-items: center;
    flex-direction: column;
    padding: 6px;
    
}

.containerM .logoGoogle{
    width: auto;
    height: auto;

}

.containerM .logoGoogle img{
    width: 272px;
    height: 92px;
}

.containerM .pesquisa input{
    width: 584px;
    height: 44px;    
    border:1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    outline: none;    
    padding-left:16px;
    font-size: 16px;
    margin-top: 25px;
}


.containerM .botoes{    
    display: flex; 
    width: auto;
    height: auto;
    justify-content:center;    
    align-items: center;
    margin-top: 25px;
    
}

.containerM button{
    width: 142px;
    height: 36px;
    background-color: #f8f9fa;
    border:1px solid #f8f9fa;
    border-radius: 4px;
    color:#3c4043;
    margin: 11px 4px;
    cursor: pointer;  
}

.containerM button:hover{
    border: 0.5px solid #f8f9fa;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3)
}

footer{  
    display: flex;
    margin-top: 108px;
    background-color: rgb(238, 238, 238);
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.containerFim{
    width: 100%;
    display: flex;     
    flex-direction: column;
    
}

.brasil{
    padding:20px;
    display: flex;
    justify-content:left;  
    border-bottom: 1px solid rgb(209, 208, 208);
    color:#999; 
}

.brasil a{
    align-items: center;
    color: rgb(146, 145, 145);
    padding-left: 20px;
    text-decoration: none;
}

.brasil a:hover{
    text-decoration: underline;
}

.autor{
    padding:20px;
    display: flex;
    justify-content:center;  
    border-bottom: 1px solid rgb(209, 208, 208);
    color:#999; 
}

.autor p{
    align-items: center;
    color: rgb(146, 145, 145);
    padding-left: 20px;
    text-decoration: none;
}



